.container__contacto {
  display: flex;
  justify-content: center;

  .casillaContacto {
    width: 95%;
    height: fit-content;
    background-color: rgba(245, 245, 245, 0.836);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    border-radius: 15px 0;

    form {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 15px;

      input {
        margin: 10px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: rgba(234, 234, 234, 0.396);
        width: 300px;
        height: 20px;
      }

      select {
        margin: 10px;
        background-color: rgba(234, 234, 234, 0.396);
        width: 300px;
        height: 20px;
      }

      .boton {
        width: 6.25rem;
        height: 50px;
        border: solid;
        border-width: thin;
        border-radius: 10px;
      }
      
      .boton__enviar:hover {
        transition: background-color 2s;
        color: #04d939;
      }

      .boton__reset:hover {
        color: #04d9d9;
      }
    }
  }
}
