.texto {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-image: url(../imagenes/agro.JPG);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  p {
    padding: 0 15px 15px 15px;
  }
}

.texto_interno {
  margin-top: 80px;
  background-color: rgba(245, 245, 245, 0.705);
  width: 23rem;
  height: fit-content;
  border-radius: 15px 0;
  box-shadow: solid 15px rgb(15, 15, 15, 0.5);
  display: flex;
  flex-direction: column;
  
  p {
    font-weight: 500;
  }
}


