.actividades__row {
  height: fit-content;
  background-color: $containerColor;
  box-shadow: $boxShadow;
  border-radius: 15px 0;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p,
  img {
    margin: 10px;
  }

  img {
    width: 90%;
    border-radius: 15px 0;
    box-shadow: $boxShadow;
  }
}
